# Local preview copies of post images, PDFs and other media files
assets/img/in-post/**
!assets/img/in-post/
!assets/img/in-post/.gitkeep

# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea

# Misc
_sass/vendors
assets/js/dist
