@mixin dark-colors {
    // 定义的颜色
    --details-border-color: #865ab7;
    --details-bg: #222a3aa6;
    // 修改了黑暗模式下原主题的颜色
    --prompt-info-bg: rgb(6 36 62);
    --prompt-tip-bg: rgb(32 40 26 / 60%);
    --prompt-tip-icon-color: #568b5b;
    --prompt-warning-bg: rgb(61 48 6 / 88%);
    --prompt-danger-bg: rgb(67 22 7 / 70%);
}