/* 生成动画 */
@use 'sass:math';

@function random_range($min, $max) {
  @return $min + math.random() * ($max - $min);
}

@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translate3d(0, -1200px, 0) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

#animation {
  position: fixed;
  inset: 0;
  overflow: hidden;
  pointer-events: none;

  @media all and (min-width: 1200px) {
    .animation-circle {
      position: absolute;
      left: var(--circle-left);
      bottom: -300px;
      display: block;
      background: var(--circle-background);
      width: var(--circle-side-length);
      height: var(--circle-side-length);
      animation: animate var(--circle-time) linear infinite;
      animation-delay: var(--circle-delay);
      pointer-events: none;
      will-change: transform, opacity;

      @for $i from 1 through 30 {
        &:nth-child(#{$i}) {
          --circle-left: #{random_range(0%, 100%)};
          --circle-background: rgba(#{random_range(0, 255)}, #{random_range(0, 255)}, #{random_range(0, 255)}, 0.06);
          --circle-side-length: #{random_range(20px, 200px)};
          --circle-time: #{random_range(10s, 45s)};
          // --circle-delay: #{random_range(0s, 25s)};
          --circle-delay: #{random_range(-25s, 0s)};
        }
      }
    }
  }

  @media all and (max-width: 1199px), (prefers-reduced-motion: reduce) {
    .animation-circle {
      display: none;
    }
  }
}
