/* colorbox 样式设计 */
/* 定义了 box-info, box-tip, box-warning, box-danger 四种 colorbox */
@mixin colorbox($border-color, $icon-color, $icon-content, $bg-color, $fa-style: 'solid') {
    position: relative;
    margin-bottom: 1rem;
    padding: 0.6rem 1rem 0.6rem 1.5rem;

    color: var(--text-color);
    border-left: .2rem solid $border-color;
    border-radius: 0.25rem;
    box-shadow: var(--colorbox-shadow-color, var(--language-border-color)) 0px 0px 0px 1px;
  
    & > .box-title {
      position:relative;

      margin: -.6rem -1rem .6rem -1.5rem;
      padding: .5rem .6rem .5rem 3rem; 

      color: $icon-color;
      background-color: $bg-color;
      font-weight: 600;
    }

    & > .box-title::before {
      content: $icon-content;

      position: absolute;
      left: .2rem;
      margin-top: .4rem;

      width: 3rem;
      color: $icon-color;
      font: var(--fa-font-#{$fa-style});
      text-align: center;
      text-rendering: auto;

      -webkit-font-smoothing: antialiased;
    }
  
    & > :last-child{
        margin-bottom: 0;
    }
}
  
/* box-info 蓝色 */
.box-info {
@include colorbox(
    var(--prompt-info-icon-color),
    var(--prompt-info-icon-color),
    "\f06a",
    var(--prompt-info-bg)
);
}

/* box-tip 绿色 */
.box-tip {
@include colorbox(
    var(--prompt-tip-icon-color),
    var(--prompt-tip-icon-color),
    "\f0eb",
    var(--prompt-tip-bg),
    'regular'
);
}

/* box-warning 黄色 */
.box-warning {
@include colorbox(
    var(--prompt-warning-icon-color),
    var(--prompt-warning-icon-color),
    "\f06a",
    var(--prompt-warning-bg)
);
}

/* box-danger 红色 */
.box-danger {
@include colorbox(
    var(--prompt-danger-icon-color),
    var(--prompt-danger-icon-color),
    "\f071",
    var(--prompt-danger-bg)
);
}