/* details class="details-block" 样式设计 */
details.details-block {
  border-radius: .25rem;
  border-left: .2rem solid var(--details-border-color);
  box-shadow: 0px 0px 0px 1px var(--details-shadow-color, var(--language-border-color));
  margin-bottom: 1rem;
  padding: .6rem 1rem .6rem 1.5rem;
  overflow: hidden;

  > :last-child:not(summary) {
    margin-bottom: 0;
  }
}

details.details-block > summary {
  padding: .5rem 2.5rem .5rem 1rem;
  margin: -.6rem -1rem -.6rem -1.5rem;
  font-weight: 600;
  background-color: var(--details-bg);
  color: var(--details-border-color);
  position: relative;
  list-style: none;
  cursor: pointer;
  user-select: none;
}

details.details-block > summary:focus-visible {
  outline: 2px solid var(--details-border-color);
  outline-offset: 2px;
}

details.details-block > summary::-webkit-details-marker {
  display: none;
}

details.details-block > summary::marker {
  content: "";
}

details.details-block > summary::before {
  content: '😼';
  margin-right: .5rem;
  display: inline-block;
  width: 1.4em;
  text-align: center;
}

details.details-block[open] > summary::before {
  content: '🙀';
  animation: my-cat .2s ease-in-out;
}

details.details-block > summary::after {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  content: "\f105"; /* fa-angle-right */
  display: inline-block;
  transition: transform .2s ease;
  position: absolute;
  right: 1rem;
}

details.details-block[open] > summary::after {
  transform: rotate(90deg);
}

details.details-block[open] > summary {
  margin-bottom: .6rem;
}

@keyframes my-cat {
  50% {
    transform: scale(1.2);
  }
}

@media (prefers-reduced-motion: reduce) {
  details.details-block > summary::after,
  details.details-block[open] > summary::before {
    animation: none;
    transition: none;
  }
}


// details class = "details-inline"
details.details-inline {
    margin-bottom: 1rem;
    padding-left: 1rem; 
    border-left: 2px solid var(--blockquote-border-color); 
    > p:last-child{
        margin-bottom: 0;
    }
}
details.details-inline > summary {
    color: var(--link-color);
    display: inline-block;
    line-height: normal;
    // border-bottom: 1px solid var(--link-underline-color);
}
details.details-inline > summary:hover {
    color: #d2603a; /* 鼠标悬停时的颜色 */
    border-bottom: 1px solid #d2603a;
}
details.details-inline > summary::marker {
    content: none; /* 隐藏默认的箭头 */
}
details.details-inline > summary::-webkit-details-marker {
    display: none; /* IOS 隐藏默认的箭头 */
}
details.details-inline > summary::before {
    content: '+';
    scale: 1.3;
    display: inline-block;
    margin-right: .4rem;
    transition: transform 0.2s ease; /* 添加旋转动画 */
}
details.details-inline[open] > summary::before {
    transform: rotate(135deg);
}