---
---

@import 'main';
/* append your custom style below */

/* 侧边栏背景图片添加 */
#sidebar {
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    width: 260px;
    z-index: 99;
    /* background: var(--sidebar-bg); */
    background-image: url(https://cdn.jsdelivr.net/gh/huanyushi/Blog-Image-Bed@main/img/background.jpg); /* <- change background image */
    background-size: cover; /* <- customize the image size */
    background-repeat: no-repeat; /* <- */
    background-position: top;
    border-right: 1px solid var(--sidebar-border-color);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* 侧边栏相关文字样式设置 */
#sidebar .site-title a {
    color: rgb(255 255 255); /* <- */
}
#sidebar .site-subtitle {
    /* font-size: 95%;*/
    color: #ffffff; /* <- */
    margin-top: .25rem;
    word-spacing: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#sidebar .sidebar-bottom .mode-toggle, #sidebar a {
    color: #ffffff; /* <- */
    padding: 0;
    border: 0
}
#sidebar .sidebar-bottom .btn {
    color: var(--sidebar-btn-color);
}

/* 侧边栏友链样式设置 */
#sidebar .friends {
    padding-left: 1.5rem;
    padding-right: 1.25rem;
    width: 100%;
    margin-bottom: 3rem;
}
#sidebar .friends p {
    color: rgb(255,255,255,0.95);
    font-family: inherit;
    font-weight:600;
    font-size: 95%;
}
#sidebar .friends p i {
    opacity: 0.8;
    margin-right: 1.5rem;
}
#sidebar .friends p span {
    letter-spacing: 0.2px;
    opacity: 0.9;
}
#sidebar .friends ul {
    color:white;
    font-size:95%;
    opacity: 0.95;
}
#sidebar .friends ul li {
    margin-bottom: 0.4rem;
    opacity: 0.9;
}